<div class="container-deputy">
  <div class="deputy-card">
     <div class="deputy-card-container">
        <div class="deputy-card-avatar-container">
          <img src="<%= @deputy.img %>" alt="" class="avatar-bordered">
          <div class="deputy-card-avatar-container-details">
            <h3><%= @deputy.first_name %> <%= @deputy.last_name %></h3>
            <h4><%= @deputy.party %></h4>
            <p> Département: <%= @deputy.department %></p>
          </div>
        </div>
        <div class="deputy-card-social-container">
          <a href="https://www.facebook.com/<%= @deputy.facebook %>" target="blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/<%= @deputy.twitter %>" target="blank"><i class="fab fa-twitter"></i></a>
          <a href="mailto:<%= @deputy.email %>" target="blank"><i class="far fa-envelope"></i></a>
          <a href="<%= @deputy.website %>" target="blank"><i class="fab fa-wordpress-simple"></i></a>
        </div>
        <!-- <div class="deputy-details-container">
          <p>Profil: Frondeur</p>
        </div> -->
        <div class="deputy-card-details-container">
          <% if @deputy.fronding <= 15 %>
            <p><%= @deputy.first_name %> <%= @deputy.last_name %> a plutôt un profil <strong>Suiveur</strong> 
            (plus de 85% de ses votes correspondent aux consignes de son parti)</p>
          <% elsif @deputy.fronding > 15 %>
            <p><%= @deputy.first_name %> <%= @deputy.last_name %> a plutôt un profil <strong>Frondeur</strong> 
            (moins de <%= 100 - @deputy.fronding %>% de ses votes correspondent aux consignes de son parti)</p>
          <% else %>
           <p>Nous ne savons pas si <%= @deputy.first_name %> <%= @deputy.last_name %> respecte les consignes
            de vote de son parti ou non</p>  
          <% end %>
          <a href="<%= @deputy.revenue %>" target="blank">Consulter sa déclaration de revenus</a>
        </div>
     </div>
   <a href="#" class="button button-primary width-grow">Suivre</a>
  </div>

  <div class="laws">
    <% @positions.each do |position| %>
      <div class="law-card">
              <div class="law-card-details <%= position.deputy_position.downcase %>">
                <ul class="categorie-container">
                  <% position.law.tag_list.each do |tag|%>
                    <li class="categorie-label"> <%= tag %> </li>
                  <% end %>
                </ul>
                <h3><%= position.law.title %></h3>
                <p><strong>Adoptée le <%= position.law.last_status_update %></strong> 
                  - <%= position.law.positions.where(deputy_position: "Pour").size %> votes pour, 
                  <%= position.law.positions.where(deputy_position: "Contre").size %> votes contre, 
                  <%= position.law.positions.where(deputy_position: "Abstention").size %> abstentions
                </p> <!-- : 350 votes pour, 248 votes contre, 57 abstentions</p> -->
                <h4><%= position.deputy_position %></h4>
              </div>
              <div class="law-card-interaction-card">
                <div class="interaction-like">
                  <i class="far fa-thumbs-up"></i>
                  <i class="far fa-thumbs-down"></i>
                </div>

                <button type="button" class="button-primary-empty width-grow" data-toggle="modal" data-target="#modal-<%= position.law.id %>">
                  Details
                </button>

                <!-- Modal -->
                <div class="modal fade" id="modal-<%= position.law.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel"><%= position.law.title %></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p> <%= position.law.content %></p>
                      </div>
                      <div class="modal-footer d-flex justify-content-center">
                        <a href="<%= position.law.ressource_link %>" target="blank" class="button button-primary">Voir plus sur Vie-publique.fr</a>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
      <% end %>
  </div>

</div>


