

<h2><%= @deputy.first_name %> <%= @deputy.last_name %></h2>

<%= @deputy.party %>
<br>
<%= @deputy.birth_date %>
<br>
<%= @deputy.job %>
<br>
Email : <%= @deputy.email %>
<br>
<%= @deputy.website %>
<br>
Revenus en 2019 : <%= @deputy.revenue %>€
<br>
<i class="fab fa-twitter"><%= @deputy.twitter %></i>
<br>
<i class="fab fa-facebook-f"><%= @deputy.facebook %></i>
