<%= content_for(:title) { "#{@deputy.first_name} #{@deputy.last_name} - Député du #{@deputy.department}" } %>
<%= content_for(:image_url) { @deputy.img } %>
<%= content_for(:image_width) { "150" } %>
<%= content_for(:image_height) { "192" } %>
<%= content_for(:content) { "Découvrez les positions de votes de #{@deputy.first_name} #{@deputy.last_name} à l'Assemblée Nationale sur www.mondepute.info" } %>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '2642641032621465',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v7.0'
    });
  };
</script>

<script async defer src="https://connect.facebook.net/fr_FR/sdk.js"></script>

<p class="hidden participation-rate"><%= @participationRate %></p>
<p class="hidden fronding-rate"><%= @frondingRate %></p>
<div class="container-deputy content-wrapper ">
  <div class="deputy-card", data-id="<%= @deputy.id %>", data-name='<%= "#{@deputy.first_name} #{@deputy.last_name}" %>', data-img=<%= @deputy.img %>>
     <div class="deputy-card-container">
        <div class="deputy-card-avatar-container avatar-bordered">
          <img src="<%= @deputy.img %>" alt="" class="avatar-bordered">
          <div class="deputy-card-avatar-container-details">
            <h3><%= @deputy.first_name %> <%= @deputy.last_name %></h3>
            <h4><%= @deputy.party %></h4>
            <p> Département: <%= @deputy.department %></p>
          </div>
        </div>
        <div class="deputy-card-social-container">
          <% if @deputy.facebook != "N/A" %>
          <a href="https://www.facebook.com/<%= @deputy.facebook %>" target="blank"><i class="fab fa-facebook-f"></i></a>
          <% end %>
          <% if @deputy.twitter != "N/A" %>
          <a href="https://twitter.com/<%= @deputy.twitter %>" target="blank"><i class="fab fa-twitter"></i></a>
          <% end %>
          <% if @deputy.email != "N/A" %>
          <a href="mailto:<%= @deputy.email %>" target="blank"><i class="far fa-envelope"></i></a>
          <% end %>
          <% if @deputy.website != "N/A" %>
          <a href="http://<%= @deputy.website %>/" target="blank"><i class="fas fa-globe"></i></a>
          <% end %>
        </div>
        <div class="deputy-details-container revenue">
          <% if @yearlyRevenue >= 0%>

            <p>Moyenne des revenus annuels</p> 
            <h3><span data-toggle="tooltip" data-placement="right" title="Les revenus sont calculés sur les trois dernières années déclarées auprès de la Haute Autorité pour la Transparence de la Vie Publique"><%= number_with_delimiter( @yearlyRevenue, :delimiter => ' ') %> k€</span></h3>
            <a href="<%= @deputy.revenue %>" target="blank">Consulter sa déclaration de revenus</a>

          <% else %>
            <p>Nous n'avons pas réussi à calculer ses revenus.<p>
            <a href="<%= @deputy.revenue %>" target="blank">Consulter sa déclaration de revenus</a>
          <% end %>
        </div>

        <div class="deputy-card-chart-container">
          <p>Taux de présence à l'assemblée</p>
          <div class="chart" id="presence"></div>
        </div>
        <div class="deputy-card-chart-container">
          <p>Taux de votes en accord avec son parti</p>
          <div class="chart" id="fronde"></div>
        </div>
     </div>
      <% if user_signed_in? %>
        <div class="follow-button">

        </div>
      <% else %>
        <%= link_to follow_guest_deputy_path(@deputy), method: 'get', class: 'button button-primary follow width-grow' do %>
          Suivre
        <% end %>
      <% end %>
    </div>

  <div class="laws">
    <div class="laws-top">
        <div class="chart-details">
          <% if @tag %>
            <p class="hidden filtered-participation-rate"><%= @filteredParticipationRate %></p>
            <%= link_to deputy_path(@deputy) do %>
              <span class="categorie-label-top"><%= @tag.split(" ").reject{ |word| word == "-"}.map(&:capitalize).unshift("#").join %>
                <i class="fas fa-times"></i>
              </span>
            <% end %>
            <div class="chart-details-container">
              <div class="chart-details-card">
                <p>Lois analysées</p>
                <div class="chart-details-card-figure">
                  <h3><%= @positions.count %></h3>
                </div>
              </div>
              <div class="chart-details-card last">
                <p>Taux de présence sur le sujet </p>
                <div class="chart-details-card-figure">
                  <div id="filtered" class="filtered-chart"></div>
                </div>
              </div>
            </div>
          <% else %>
            <p id="filter-paragraph"><strong>Tags les plus consultés</strong></p>
            <ul class="categorie-container top">
              <% @topTags.each do |tag| %>
                <%= link_to deputy_path(@deputy, tag: tag) do %>
                  <li class="categorie-label">
                    <%= tag.split(" ").reject{ |word| word == "-"}.map(&:capitalize).unshift("#").join %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>
    </div>
    <% @positions.each do |position| %>
      <% if position.deputy_position == nil %>
        <% position.deputy_position = "Absent" %>
      <% end %>
      <div class="law-card <%= position.deputy_position.downcase %>">
        <div class="law-card-details">
          <% if position.law.title.length > 110 %>
            <h3><%= position.law.title.truncate(110, separator: ' ') %></h3>
          <% else %>
            <h3><%= position.law.title %></h3>
          <% end %>
          <p><strong>Adoptée le <%= position.law.last_status_update %></strong>
            - <%= position.law.positions.where(deputy_position: "pour").size %> votes pour,
            <%= position.law.positions.where(deputy_position: "contre").size %> votes contre,
            <%= position.law.positions.where(deputy_position: "abstention").size %> abstentions
          </p>
          <% if position.law.content == "" %>
            <a href="<%= position.law.ressource_link %>" class="more-info" target="blank">
              Plus d'informations
            </a>
          <% else %>
            <a href="" class="more-info" data-toggle="modal" data-target="#modal-<%= position.law.id %>">
              Plus d'informations
            </a>
          <% end %>
          <ul class="categorie-container">
            <% position.law.tag_list.each do |tag|%>
              <%= link_to deputy_path(@deputy, tag: tag) do %>
                <li class="categorie-label"><%= tag.split(" ").reject{ |word| word == "-"}.map(&:capitalize).unshift("#").join %></li>
              <% end %>
            <% end %>
          </ul>
        </div>

      <div class="law-card-interaction-card">
        <% if position.deputy_position == "nonVotant" %>
          <h4>Non votant lors du vote</h4>
        <% elsif position.deputy_position == "Absent" %>
          <h4>Absent lors du vote</h4>
        <% elsif position.deputy_position == "abstention" %>
          <h4>S'est abstenu lors du vote</h4>
        <% else %>
          <h4>A voté <%= position.deputy_position %></h4>
        <% end %>
        <p>Donnez votre avis</p>
        <div class="interaction-like">
          <% if user_signed_in? %>
              <div>
                <%= link_to like_deputy_path(@deputy, position_id: position.id, like: true) do %>
                  <i class="far fa-thumbs-up <%= @user.liked? position %>"></i>
                <% end %>
                <p class="green"><%= position.cached_votes_up %></p>
              </div>
              <div>
                <%= link_to like_deputy_path(@deputy, position_id: position.id, like: false) do %>
                  <i class="far fa-thumbs-down <%= @user.disliked? position %>"></i>
                <% end %>
                <p class="red"><%= position.cached_votes_down %></p>
              </div>
          <% else %>
              <div>
                <%= link_to like_deputy_path(@deputy, position_id: position.id, like: true) do %>
                  <i class="far fa-thumbs-up"></i>
                <% end %>
                <p class="green"><%= position.cached_votes_up %></p>
              </div>
              <div>
                <%= link_to like_deputy_path(@deputy, position_id: position.id, like: false) do %>
                  <i class="far fa-thumbs-down"></i>
                <% end %>
                <p class="red"><%= position.cached_votes_down %></p>
              </div>
          <% end %>
        </div>
          <div class="share-buttons">
            <%= social_share_button_tag("#{@deputy.first_name} #{@deputy.last_name}", url: "http://mondepute.info/deputies/#{@deputy.id}", image: "#{@deputy.img}", desc: "Découvrez les positions de votes de #{@deputy.first_name} #{@deputy.last_name} à l Assemblée Nationale sur www.mondepute.info") %>
          </div>
      </div>

        <!-- Modal -->
        <div class="modal fade" id="modal-<%= position.law.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-image">
            </div>
            <div class="modal-content">

              <div>
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel"><%= position.law.title %></h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <ul class="categorie-container">
                  <% position.law.tag_list.each do |tag|%>
                    <%= link_to deputy_path(@deputy, tag: tag) do %>
                      <li class="categorie-label"><%= tag %></li>
                    <% end %>
                  <% end %>
                </ul>
                <div class="modal-body">
                  <p> <%= position.law.content %></p>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <a href="<%= position.law.ressource_link %>" target="blank" class="button button-primary">Voir plus sur Vie-publique.fr</a>
                </div>
              </div>

            </div>
        </div>

        </div>
      </div>
    <% end %>
  </div>

</div>


