<div class="container-deputy">
  <div class="deputy-card">
     <div class="deputy-card-container">
        <div class="deputy-card-avatar-container">
          <img src="<%= @deputy.img %>" alt="" class="avatar-bordered">
          <div class="deputy-card-avatar-container-details">
            <h3><%= @deputy.first_name %> <%= @deputy.last_name %></h3>
            <h4><%= @deputy.party %></h4>
            <p> Département: <%= @deputy.department %></p>
          </div>
        </div>
        <div class="deputy-card-social-container">
          <a href="https://www.facebook.com/<%= @deputy.facebook %>" target="blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/<%= @deputy.twitter %>" target="blank"><i class="fab fa-twitter"></i></a>
          <a href="mailto:<%= @deputy.email %>" target="blank"><i class="far fa-envelope"></i></a>
          <a href="<%= @deputy.website %>" target="blank"><i class="fab fa-wordpress-simple"></i></a>
        </div>
        <!-- <div class="deputy-details-container">
          <p>Profil: Frondeur</p>
        </div> -->
       
        <div class="deputy-card-details-container">
          <% if @deputy.fronding == nil %>
            <p>Nous ne pouvons pas savoir si <%= @deputy.first_name %> <%= @deputy.last_name %> est un profil Frondeur ou non</p>
          <% elsif @deputy.fronding > 15%>
            <p><%= @deputy.first_name %> <%= @deputy.last_name %> a un profil plutôt <strong>Frondeur</strong>: seulement
            <%= 100 - @deputy.fronding %>% de ses votes respectent les consignes de son parti  </p>
          <% else %>
            <p><%= @deputy.first_name %> <%= @deputy.last_name %> a un profil plutôt <strong>Suiveur</strong>:
            <%= 100 - @deputy.fronding %>% de ses votes respectent les consignes de son parti  </p>
          <% end %>
          <a href="<%= @deputy.revenue %>" target="blank">Consulter sa déclaration de revenus</a>
        </div>
     </div>

    <% if user_signed_in? %>
      <% if @user.voted_for? @deputy%>
       <%= link_to unfollow_deputy_path(@deputy), class: 'button button-danger width-grow' do %>
         Ne plus suivre
        <% end %>
      <% else %>
        <%= link_to follow_deputy_path(@deputy), class: 'button button-primary width-grow' do %>
          Suivre
        <% end %>
      <% end %>
    <% else %>
      <%= link_to follow_deputy_path(@deputy), class: 'button button-primary width-grow' do %>
        Suivre
      <% end %>
    <% end %>
   

  </div>

  <div class="laws">
    <% @positions.each do |position| %>
      <div class="law-card">
        <div class="law-card-details">
          <ul class="categorie-container">
            <% position.law.tag_list.each do |tag|%>
              <%= link_to deputy_path(@deputy, tag: tag) do %>
                <li class="categorie-label"><%= tag %></li>
              <% end %>
            <% end %>
          </ul>
          <h3><%= position.law.title %></h3>
          <p><strong>Adoptée le <%= position.law.last_status_update %></strong>
            - <%= position.law.positions.where(deputy_position: "Pour").size %> votes pour,
            <%= position.law.positions.where(deputy_position: "Contre").size %> votes contre,
            <%= position.law.positions.where(deputy_position: "Abstention").size %> abstentions
          </p>
          <a href="" data-toggle="modal" data-target="#modal-<%= position.law.id %>">
            Plus d'informations
          </a>
        </div>

        <% if user_signed_in? %>
          <div class="law-card-interaction-card <%= position.deputy_position.downcase %>">
            <h4><%= position.deputy_position %></h4>
            <div class="interaction-like">
              <%= link_to like_deputy_path(@deputy, position_id: position.id, like: true) do %>
                <i class="far fa-thumbs-up <%= @user.liked? position %>"></i>
              <% end %>
              <%= link_to like_deputy_path(@deputy, position_id: position.id, like: false) do %>
                <i class="far fa-thumbs-down <%= @user.disliked? position %>"></i>
              <% end %>
            </div>
        <% else %>
          <div class="law-card-interaction-card <%= position.deputy_position.downcase %>">
            <h4><%= position.deputy_position %></h4>
            <div class="interaction-like">
              <%= link_to like_deputy_path(@deputy, position_id: position.id, like: true) do %>
                <i class="far fa-thumbs-up <%= @user.liked? position %>"></i>
              <% end %>
              <%= link_to like_deputy_path(@deputy, position_id: position.id, like: false) do %>
                <i class="far fa-thumbs-down"></i>
              <% end %>
            </div>
        <% end %>
        
        


        <!-- Modal -->
        <div class="modal fade" id="modal-<%= position.law.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"><%= position.law.title %></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p> <%= position.law.content %></p>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <a href="<%= position.law.ressource_link %>" target="blank" class="button button-primary">Voir plus sur Vie-publique.fr</a>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>
    <% end %>
  </div>

</div>


