<div class="d-flex justify-content-center align-items-center home-container" data-user="<%= current_user ? true : false %>" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://www.inegalites.fr/IMG/arton59.jpg);">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center background-home">
      <h1 class="home-h1">Découvrez <span class="underline-blue">qui est votre élu</span></h1>
      <h3 class="home-h3 md-col-12 lg-col-7"> Comprenez ses positions de vote sur les <span class="underline-red">sujets qui vous tiennent à coeur</span></h2>
    </div>
    <%= form_tag results_deputies_path, class:"d-flex col-10", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        id: "location-search",
        placeholder: "Tapez votre adresse..."
      %>
      <%= submit_tag "Search", class: "btn btn-primary ml-2" %>
    <% end %>
  </div>
</div>


<div class="d-flex flex-column justify-content-center align-items-center">
  <h3 class="m-5 text-center black-h3"> Dernières lois analysées</h3>


  <% @laws.each do |law| %>
      <div class="law-card-home">
        <div class="law-card-home-details">
          <h3><%= law.title %></h3>
          <p class="mt-2 mb-2"><strong><%= law.current_status %> le <%= law.last_status_update %></strong>
            - <%= law.pour %> votes pour,
            <%= law.contre %> votes contre,
            <%= law.abstenu %> abstentions
          </p>
          <% if law.content == "" %>
            <a href="<%= law.ressource_link %>" class="more-info" target="blank">
              Plus d'informations
            </a>
          <% else %>
            <a href="" class="more-info" data-toggle="modal" data-target="#modal-<%= law.id %>">
              Plus d'informations
            </a>
          <% end %>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal-<%= law.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-image"></div>
            <div class="modal-content"><div>
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"><%= law.title %></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p> <%= law.content %></p>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <a href="<%= law.ressource_link %>" target="blank" class="button button-primary">Voir plus sur Vie-publique.fr</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      </div>
    <% end %>
</div>