
<div class="d-flex justify-content-center align-items-center home-container"  style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://www.inegalites.fr/IMG/arton59.jpg);">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center background-home">
      <h1 class="home-h1">Découvrez qui est votre élu</h1>
      <h3 class="home-h3 col-7"> Trouvez ces positions de vote, ses taux de présences, partagez votre avis</h2>
    </div>
    <%= form_tag results_deputies_path, class:"d-flex col-7", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        id: "location-search",
        placeholder: "Tapez votre adresse..."
      %>
      <%= submit_tag "Search", class: "btn btn-primary ml-2" %>
    <% end %>
  </div>
</div>
<div class="d-flex flex-column align-items-center justify-content-center">
  <div class="col-lg-6 col-md-8 col-sm-12">
    <% Deputy.order(yearly_revenue: :desc).first(3).each do |deputy| %>
      <p><%= deputy.first_name %> <%= deputy.last_name %></p>
    <% end %>
  </div>
  
  <div class="col-lg-6 col-md-8 col-sm-12">
    <% Deputy.order(fronding: :desc).first(3).each do |deputy| %>
      <p><%= deputy.first_name %> <%= deputy.last_name %></p>
    <% end %>
  </div>
  
</div>