<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168781893-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-168781893-1');
    </script>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearchLite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0/dist/cdn/placesAutocompleteDataset.min.js"></script>

    <title>Mon Député - Découvrez qui est votre élu et ses positions de vote à l'Assemblée Nationale</title>
    <%= favicon_link_tag %>

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= yield(:title) || "Mon Député" %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= image_url_with_fallback(yield(:image_url)) %>" />
    <meta property="og:image:width" content="<%= yield(:image_width) || "1200" %>" />
    <meta property="og:image:height" content="<%= yield(:image_height) || "630" %>" />
    <meta property="og:description" content="<%= yield(:content) || "Découvrez qui est votre élu et ses positions de vote à l'Assemblée Nationale" %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'social-share-button' %>

    <%#= yield :head %>
  </head>

  <body class="<%= params[:controller] %>-<%=params[:action] %>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>

    <script type="text/javascript" async
      src="//l.getsitecontrol.com/d7o619z7.js">
    </script>
  </body>
</html>
