<!DOCTYPE html>
<html>
  <head>
    <title>MonDepute</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '2642641032621465',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v7.0'
        });
        FB.ui({
          method: 'feed',
          href: 'https://developers.facebook.com/docs/'
        }, function(response){});
      };
    </script>
    <script async defer src="https://connect.facebook.net/fr_FR/sdk.js"></script>

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="content-wrapper">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
